* {
    margin: 0;
}

body {
    background-image: url("images/background.png");
}
#filmList {
    display: flex;
    flex-wrap: wrap; 
    
    justify-content: space-between;
}

figure {
    margin: 1em;
    border: 1px white solid;
/*    box-shadow: 3px 3px 3px red;*/
}

figcaption {
    text-align: center;
    background-color: black;
    color: #fff;
}