*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins, sans-serif';
}


li > a{
    font-size: x-large;
    padding: 1em 2em;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 10, 85);
    color: #fff;
    width: 100%;
    height: 100vh;
}
